<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %> you have been invited to the team <%= @team.name%></h1>
    <p>
      Please click the link to join.
    </p>
    <b><%=@url%></b>
    <p>Have a great day!</p>
  </body>
</html>