//Box Sizing by Default - http://www.paulirish.com/2012/box-sizing-border-box-ftw/ 
html { 
	box-sizing : border-box; 
	height     : 100%;
}
*, *:before, *:after { box-sizing: inherit; }

body { 
	position         : relative;
	font-family      : "ProximaNova";
	font-size        : @regular_text; 
	line-height      : 130%;
	min-height       : 100%;
	background-color : @material_orange;
	margin           : 0;
}

a.ember-view { text-decoration: none; }

//Floats
.pull-right { float: right; }
.pull-left { float: left; }

//Clear Floats
.group:after {
	content : "";
	display : table;
	clear   : both;
}

//Text 
.bold-text {
	font-family    : 'ProximaNovaSemiBold';
	font-weight    : normal;
}
.first-letter-caps { 
	display: inline-block; 
	&::first-letter { text-transform: uppercase; }
}
.ellipsis{
	white-space   : nowrap;
	overflow      : hidden;
	text-overflow : ellipsis;
}
.capitalize 	{text-transform: capitalize;}
.uppercased 	{text-transform: uppercase;}

// [data-ember-action], .clickable { cursor: pointer; }